<!DOCTYPE html>
<html>
	<head>
		<title>
			Slack-page
		</title>
		<meta charset='utf-8' />

		<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
		<link rel="manifest" href="/fav/site.webmanifest">
		<link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<link href='css/normalize.css' rel='stylesheet' />

		<link href='css/slack.css' rel='stylesheet' />		

		<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">


	</head>

	<body>
		<div class="page">
			<section class="page_section">
				<div class="page_content hero_section">

					<div class="hero">
						<div class="hero_content">
							<span class="hero_label">Slack Features</span>
							<h1 class="hero_title">One platform for your team and your work</h1>
							<p class="hero_info double-line">All the features of Slack work together so you can, too.</p>
							<div class="hero_buttons">
								<a href="#" class="button button_primary click">Try for free</a>
								<a href="#" class="button button_secondary click">See all features</a>
							</div>

							<img src="/img/hero.png" alt="hero" class="hero_image">

						</div>
					</div>

					<div class="brands">
						<img src="/img/brands/airbnb.png" alt="airbnb" class="brands">
						<img src="/img/brands/target.png" alt="target" class="brands">
						<img src="/img/brands/uber.png" alt="uber" class="brands">
						<img src="/img/brands/onemedical.png" alt="onemedical" class="brands">
						<img src="/img/brands/newscorp.png" alt="newscorp" class="brands">
						<img src="/img/brands/va.png" alt="va" class="brands">
						<img src="/img/brands/intuit.png" alt="intuit" class="brands">
						<img src="/img/brands/sonos.png" alt="sonos" class="brands">
					</div>

				</div>
			</section>

			<section class="page_section page_section_light">
				<div class="page_content features_section">
					
					<h2 class="features_title">Work more easily with everyone</h2>
					<p class="features_description double-line">Stay on the same page and make decisions faster by bringing all of your
								work communication into one place.</p>

					<div class="features_grid_4">

						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url(/svg/feature/connect.svg);"></span>
							<strong >Slack Connect</strong>
							<p class="double_line">Collaborate with teams at other
									companies the same way you do
									with teams at your own.</p>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

					
						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url(/svg/feature/channels.svg);"></span>
							<strong class="feat_card_title">Channels</strong>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url(/svg/feature/huddles.svg);"></span>
							<strong class="feat_card_title">Huddles</strong>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url(/svg/feature/clips.svg);"></span>
							<strong class="feat_card_title">Clips</strong>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url(/svg/feature/canvas.svg);"></span>
							<strong class="feat_card_title">Canvas</strong>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

						
						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url(/svg/feature/messaging.svg);"></span>
							<strong class="feat_card_title">Messaging</strong>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>


						<div class="feat_card">
							<span class="icon feat_icon" style="background-image: url(/svg/feature/accessibility.svg);"></span>
							<strong class="feat_card_title">Accessibility</strong>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>
					</div>
					
				</div>
			</section>

			<section class="page_section page_section_light">
				<div class="page_content features_section_2">
					
					<div class="features_block">
						<h2 class="features_title_2">What you need, when you need it</h2>
						<p class="features_description_2 double-line">Spend less time shuffling tabs with a comprehensive message archive and
							all your work tools at your fingertips.</p>
					</div>
					
					<div class="features_grid_3">
						<div class="feat_card" id="card_2">
							<span class="icon feat_icon" style="background-image: url(/svg/features2/apps.svg);"></span>
							<strong >Apps and Integrations</strong>
							<p class="double_line">Streamline work by connecting
													Slack with other services like
													Google Drive, Office 365 and
													over 2,200 more.</p>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

						<div class="feat_card" id="card_2">
							<span class="icon feat_icon" style="background-image: url(/svg/features2/workflow.svg);"></span>
							<strong >Workflow Builder</strong>
							<p class="double_line">Automate routine actions and
													communication, so you can get
													back to the kind of work only
													humans can do.</p>
							<a href="#" class="icon icon_arrow feat_link click"></a>
						</div>

						<div class="feat_card_card">
							<div class="feat_card">
								<span class="icon feat_icon" style="background-image: url(/svg/features2/search.svg);"></span>
								<strong class="feat_card_title">Search</strong>
								<a href="#" class="icon icon_arrow feat_link click"></a>
							</div>

							<div class="feat_card">
								<span class="icon feat_icon" style="background-image: url(/svg/features2/sharing.svg);"></span>
								<strong class="feat_card_title">File sharing</strong>
								<a href="#" class="icon icon_arrow feat_link click"></a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="block_4">
				<div class="img_block_4">
					<img src="/img/block_4.png" alt="block_4">
				</div>

				<div class="block_4_content">
					<div class="block_4_description">“The thing that keeps us connected
						the most is Slack. It’s a very
						immediate and straightforward
						method of communication, and
						really the only channel that people
						prefer and enjoy using.”
					</div>

					<div class="block_4_logo">

						<img src="/img/block_4_logo.png" alt="block_4_logo">
				
					</div>

					<div class="block_4_span">Will Sprunt, CIO, Deliveroo</div>

					
				</div>

				
			</section>

			<section class="last_section">
				<div class="last_h3">
					<h3 class="last_h3_title">Explore more about working in Slack</h3>
				</div>
				
				<div class="card">
					<div class="last_card">
						<img src="/img/last/last_1.png" alt="last_1" class="last_1">
						<div>
							<p class="card_title">Slack Tutorials</p>
							<h3 class="card_text">Slack 101</h3>
						</div>
						<div class="card_bottom">
							<div class="learn_more">Learn more</div>
							<div href="#" class="icon icon_arrow feat_link click"></div>
						</div>
					</div>
					<div class="last_card">
						<img src="/img/last/last_2.png" alt="last_2" class="last_2">
					
						<div>
							<p class="card_title">Slack vs. Email</p>
							<h3 class="card_text">An easier, more
								organized way to work</h3>
						</div>

						<div class="card_bottom">
							<div class="learn_more">Learn more</div>
							<div href="#" class="icon icon_arrow feat_link click"></div>
						</div>
					</div>
					<div class="last_card">
						<img src="/img/last/last_3.png" alt="last_3" class="last_3">
						<div>
							<p class="card_title">Customer Stories</p>
							<h3 class="card_text">How Fastly uses Slack Connect to wow enterprise customers</h3>
						</div>

						<div class="card_bottom">
							<div class="learn_more">Learn more</div>
							<div href="#" class="icon icon_arrow feat_link click"></div>
						</div>
					</div>
				</div>
			</section>

		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
