:root {
	--space-s: 8px;
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-b: 36px;

	--size-s: 14px;
	--size-d: 16px;
	--size-l: 20px;
	--size-b: 24px;

	--color-border: #d3dee9;
	--color-primary: rgb(37, 117, 221);
	--color-white: #ffffff;
	--color-title: #212529;
	--color-text: #343a40;

	--border-radius-d: 12px;
	--border-radius-s: 4px;

	--weight-title: 600;
	--weight-text: 400;

	--page-width: 1000px;
}

/* ======================== */

.page {
	background: var(--color-white);
	padding: 0 15px;

	display: flex;
	justify-content: center;
}

.page_content {
	max-width: var(--page-width);
	width: 100%;

	display: flex;
	flex-direction: column;

	gap: 80px;
}

/* ========================== */


.header {
	padding: var(--space-l) 0;
	border-bottom: 1px solid var(--color-border);

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	position: sticky;

	max-width: var(--page-width);
	width: 100%;

	top: 0;	
	/* left: calc(50% - (var(--page-width) / 2)); */

	background-color: var(--color-white);

	opacity: 0.8;

	z-index: 1;
}

.logo {
	font-size: 17px;
	color:var(--color-white);
	background-color: var(--color-primary);
	width: 24px;
	height: 24px;

	border-radius: calc( var(--border-radius-d) / 2 );

	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	display: flex;
}

.nav_inline {
	gap: var(--space-l);
}

.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;
}

.nav_link {
color: var(--color-text);
font-size: var(--size-d);
text-decoration: none;

line-height: 100%;

transition-property: color;
transition-duration: 1s;
}

.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);
}

.footer {
	padding: var(--space-l) 0;

	border-top: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);

	display: block;

	margin-top: var(--space-l);
}

.footer_title {
	font-size: var(--size-l);
	color: var(--color-title);

	display: block;
	margin-bottom: var(--space-l);

	font-weight: var(--weight-title);
}

.main {
	display: flex;
	width: 100%;
	gap: 40px;
	align-items: flex-start;
}

.info {
	max-width: 582px;
	width: 100%;

	padding: 44px;

	gap: 24px;
}

.info_title {
	color: var(--color-title);
	font-size: 56px;
	font-weight: 700;
	padding-bottom: var(--space-l);
}

.info_description {
	color: var(--color-title);
	font-weight: 400;
	font-size: 24px;
}

.form {
	max-width: 394px;
	width: 100%;

	background-color: #F8F9FA;;
	border-radius: var(--border-radius-d);

	padding: 60px 48px;

	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}

.form_title {
	text-align: center;
	font-size: var(--size-b);
	font-weight: var(--weight-text);
	color: var(--color-title);
}

.form_info {
	text-align: center;
	font-size: var(--size-d);
	font-weight: var(--weight-text);
	color: #6c757d;
}

.form_button {
	text-align: center;
	padding: 6px;
	color: var(--color-white);
	background-color: var(--color-primary);
	border-radius: var(--border-radius-s);

	transition: opacity 0.7s;
	
}

.form_button:hover {
	opacity: 0.7;
}

.form_button:active {
	opacity: 0.35;
}

.form_line {
	border: 1px solid var(--color-title);
	opacity: 0.25;
}

.form_input_list {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
}

.form_input {
	padding: var(--space-xm);
	border: 1px solid #CED4DA;
	border-radius: var(--border-radius-s);
}

.form_input::placeholder {
	color: var(--color-title);
	font-size: var(--size-d);
}

.form_checkbox {
	display: flex;
	gap: var(--space-s);
	align-items: center;
}

.form_checkbox > input {
	border: 1px solid #767676;
	border-radius: var(--border-radius-s);
}

.form_checkbox > label {
	color: var(--color-title);
	font-size: var(--size-d);
}



.updates {
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	border-radius: var(--border-radius-s);

	padding: 24px;
	
}

.updates_title {
	font-weight: 400;
	font-size: 24px;
	line-height: 19px;
	color: var(--color-title);	
	align-items: flex-start;
	padding-bottom: 12px;
	margin-bottom:12px;
	border-bottom: 1px solid #DEE2E6;
}

.updates_list {
	display: flex;
	flex-direction: column;
}

.updates_div {
	display: flex;
	width: 100%;
	gap: 8px;
}

.updates_avatar {
	width: 32px;
	height: 32px;
	background-color: red;
	align-items: center;
}



.list_nickname {
	font-size: 12px;
	line-height: 16px;
	color: #6C757D;
	padding-bottom: 12px;
}

.list_description {
	font-size: 16px;
	color: #6C757D;
	
	padding-bottom: 12px;
}

.updates_show_all {
	color: #007BFF;
	font-size: 14px;
}

.updates_show_all:hover {
	opacity: 0.7;
	transition-duration: 0.7s;
}

.border_padding {
	border: 1px solid #DEE2E6;	
	margin-bottom: 24px;
}
/* ======================================== */
.experience {
	display: flex;
	gap: var(--space-l);
	flex-direction: column;
	padding: var(--space-l);
	background: #F8F9FA;
	border-radius: var(--border-radius-s);
}

.experience_title {
	text-align: left;
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	color: #212529;

}

.experience_badge {
	text-align: right;

	align-items: center;
	padding: 12px 24px;
	gap: 12px;

	background: #FF7347;
	border-radius: 70px;
	transform: rotate(30deg);

	font-weight: 700;
	font-size: 24px;
	line-height: 120%;

	color: var(--color-white)

	position
}

.experience_list {
	display: flex;
	gap: 24px;
}

.experience_list_list {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius-d);
	padding: var(--space-l);
	gap: var(--space-s);

	background-color: var(--color-title);	
}

.experience_list_name {
	font-weight: 700;
	font-size: var(--size-l);
	line-height: 26px;

	color: var(--color-white);
}

.experience_list_details {
	font-size: 16px;
	line-height: 22px;
	color: #B1B1B1;
}

.experience_tb {
	display: flex;
	justify-content: space-between;
}